<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>API Tests index page</title>
</head>
<body>
<h1>API Tests index page</h1>

<h3>Here is a registration to use:

<h2><a href="registration/<%= @default_password_vanity %>"><%= @default_password_vanity %></a></h2>

</body>
</html>
